<div class="card sameheight-item" data-exclude="xs,sm,lg">
	<div class="card-header">
		<div class="header-block">
			<h3 class="title">
				Open
			</h3>
		</div>
	</div>
    <div class="card-block">
        <div class="card-body" id="tbd"></div>
    </div>
</div>