<div class="card sameheight-item stats" data-exclude="xs">
	<div class="card-block card-body">
		<div class="container">
			<h3>Database Info</h3>
			<div class="row">
				<div class="col">
					<h5>Patients</h5>
					<ul class="list-group">
						<li class="list-group-item"><span>Number of Records: {{info.doc_count}}</span></li>
						<li class="list-group-item"><span>Database Size</span></li>
						<li class="list-group-item"><span>Remote Server Status</span></li>
						<li class="list-group-item"><span>Last Replication: {{info.update_seq}}</span></li>
					</ul>
				</div>
				<div class="col">
					<h5>Users</h5>
					<ul class="list-group">
						<li class="list-group-item"><span>Number of Records:</span></li>
						<li class="list-group-item"><span>Database Size</span></li>
						<li class="list-group-item"><span>Remote Server Status</span></li>
						<li class="list-group-item"><span>Last Replication: </span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>