 <footer>
   <div class="container">
<div class="w3-container w3-blue">
  <p class="w3-small text=center">Copywrite IC Tech 2018 www.ictechservices.net  {{getCurrentYear}}</p>
</div>
</div>
        
</footer>