<html lang="en">
    
</html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Corpin EMR</title>
     {{!-- <link rel="stylesheet" href="/assets/materialize/css/materialize.css" media="screen" charset="utf-8"> --}}
    <script src="/assets/js/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/assets/css/w3.css" media="screen" charset="utf-8">
    <script src="/assets/js/jquery.js" charset="utf-8"></script>
    <script src="/assets/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="/assets/fa/css/all.css" rel="stylesheet">
</head>