<nav class="navbar navbar-expand-sm bg-primary text-white  mb-3">
    <div class="continer"></div>
    <a class="navbar-brand" href="/">Corpin EMR</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  w3-large" href="/" ><i class="fa fa-home"></i> </a>
            </li>
            <li class="nav-item dropdown w3-large" >
                <a href="/patients" class="nav-link dropdown-toggle w3-large" data-toggle="dropdown" id="navBarDropdownMenuLink">Patients</a>
                <div class="dropdown-menu w3-large">
                    <a href="/patients" class="dropdown-item w3-large">Patients</a>
                    <a href="/patients/add" class="dropdown-item w3-large">Add Patient</a>
                   
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled w3-large" href="/rx">Rx</a>
            </li>
            <li class="nav-item">
                <a class="nav-link w3-large" href="/rxnorm">RxNorm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link w3-large" href="/icd10">ICD-10</a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link disabled w3-large" href="/Ostetrics">OBG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled w3-large" href="/OB-GYN">Gynacology</a>
            </li> --}}
            <li class="nav-item dropdown w3-right">
                <a href="/admin" class="nav-link dropdown-toggle w3-large " data-toggle="dropdown" id="navBarDropdownMenuLink">Admin</a>
                <div class="dropdown-menu">
                    <a href="/settings" class="dropdown-item w3-large">Settings</a>
                    <form action= "/settings/destroy" method="POST"> 
                    <a href="#" class="dropdown-item w3-large" onclick="this.parentNode.submit()">Wipe Data</a>
                    </form>
                    <a href="/settings/createdb" class="dropdown-item w3-large">Settings</a>
                    {{!-- <form action= "/settings/createdb" method="POST"> 
                    <a href="#" class="dropdown-item w3-large" onclick="this.parentNode.submit()">createdb</a>
                    </form>
                    <form action= "/settings/sample" method="POST"> 
                    <a href="#" class="dropdown-item w3-large" onclick="this.parentNode.submit()">Generate Sample Data</a>
                    </form> --}}
                    <form action= "/settings/buildQuery" method="POST"> 
                    <a href="#" class="dropdown-item w3-large" onclick="this.parentNode.submit()">Build Index</a>
                    </form>
                    <form action= "/settings/replicate" method="POST"> 
                    <a href="#" class="dropdown-item w3-large" onclick="this.parentNode.submit()">Replicate</a>
                    </form>
                    
                </div>
            </li>
        </ul>
       <div>
           <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="handle"></div>
      </button>
       </div>
    </div>
      <form class="form-inline my-2 my-lg-0">
           <a class="nav-link w3-right"  href="/settings"> <i class="fas fa-cog"></i> User: admin </a>
      <input class="form-control mr-sm-2" id="searchBox" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
</div>