

<nav class="navbar navbar-expand-sm bg-primary text-white  mb-3">
    <div class="continer"></div>
    <a class="navbar-brand" href="/">Corpin EMR</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  w3-large" href="/"><i class="fa fa-home"></i> </a>
            </li>
            <li class="nav-item dropdown w3-large">
                <a href="/patients" class="nav-link dropdown-toggle w3-large" data-toggle="dropdown" id="navBarDropdownMenuLink">Patients</a>
                <div class="dropdown-menu w3-large">
                    <a href="/patients" class="dropdown-item w3-large">Patients</a>
                    <a href="/patients/add" class="dropdown-item w3-large">Add Patient</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled w3-large" href="/rx">Rx</a>
            </li>
            <li class="nav-item">
                <a class="nav-link w3-large" href="/rxnorm">RxNorm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link w3-large" href="/icd10">ICD-10</a>
            </li>

            {{!-- <li class="nav-item w3-right">
                <a href=# class="nav-link w3-large">Admin</a>
               </li>  --}}
               <li class="nav-item w3-right">
                <a href="/admin/replicate_to_remote" class="nav-link w3-large">Push Records</a>
               </li>
                {{!-- <li class="nav-item w3-right">
                <a href="/admin/test" class="nav-link w3-large">test get</a>
               </li> --}}
     </div>
            </li>
            <li class="nav-item">
                <a id="atag" class="nav-link w3-large" href="#"><span id="repl_badge" class="badge badge-light" >Replication</span></a>
            </li>
             <li class="nav-item">
                <a  class="nav-link w3-large" href="/admin"><span id="conn_badge" class="badge badge-success">Connection</span></a>
            </li>
    </ul>

    </div>
    <form class="form-inline my-2 my-lg-0 w3-right" action="/patients/search" method='post'>
        <a class="nav-link w3-right" href="/users"> <i class="fas fa-cog"></i> User: admin </a>
        <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search Last Name" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
</div>

<script>
$( document ).ready(function() {
    console.log('document loaded');
    x = '{{replication}}';
    console.log(x)

    switch(x){
        case "off":
            document.getElementById("repl_badge").className ="badge badge-light";
            break;
        case "on":
            document.getElementById("repl_badge").className ="badge badge-success";
            break;
        case "error":
            document.getElementById("repl_badge").className ="badge badge-danger";
            break;
    }
});
  </script>
  <script>
      //toggle replication state.
      var repl_state = $('#repl_badge').class;
      $("#atag").click(function(){
          $.post("/admin/toggle_repl", {state: repl_state}, function(data, status){
              console.log(data);
              console.log(status);
              $('#repl_badge').removeClass();
              $('#repl_badge').addClass(data);
              
          });
      });
  </script>