<div class="container">
  <h2>Patients</h2>
  <p>static data placeholder</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>City</th>
        <th>Last Visit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>City</th>
        <td>10/20/2017</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>City</th>
        <td>1/15/2018</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>City</th>
        <td>6/20/2018</td>
      </tr>
    </tbody>
  </table>
</div>