<!DOCTYPE html>

{{> head}}
{{> header}}
    {{> navbar}}
<body>
    <h1>Welcome to Admin</h1>
    <div class="card">
<section class="section card-body">
    <div class="row sameheight-container">
        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
            {{> dbinfo}}
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
            {{> dbmaint}}
        </div>
    </div>
</section>

<section class="section card-body">
    <div class="row sameheight-container">

        <div class="col-xl-8">
            {{> items}}
        </div>

        <div class="col-xl-4">
             <h2>Holder for cicrle partial</h2>>
        </div>
    </div>
</section>

</div>
      
</body>
{{> footer}}
</html>