<!DOCTYPE html>

{{> head}}
<body>
{{> header}}
{{> navbar}}
<div class="card">
<div class="card-body border-primary">
<iframe class="" height="800px" width="100%" src="http://apps.who.int/classifications/icd10/browse/2016/en" frameborder="0"></iframe>
</div>
</body>
</html>