<!DOCTYPE html>

{{> head}}
<body>
{{> header}}
{{> navbar}}
<div class="card">
<div class="card-body border-primary">
<iframe class="" height="800px" width="100%" src="https://mor.nlm.nih.gov/RxNav/" frameborder="0"></iframe>
</div>
</body>
</html>